
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Josefin Sans", sans-serif;
}

.svg-filter-green {
  filter: invert(72%) sepia(51%) saturate(485%) hue-rotate(85deg) brightness(87%) contrast(86%);
}

.svg-filter-yellow {
  filter: invert(92%) sepia(14%) saturate(509%) hue-rotate(358deg) brightness(105%) contrast(110%); 
}